FLASK_ENV=development
SECRET_KEY=CAMBIA_ESTA_CLAVE_DE_SESION
PORT=5000

DB_HOST=4.186.27.1
DB_PORT=5432
DB_NAME=logindb
DB_USER=postgres
DB_PASSWORD=CAMBIA_ESTA_PASSWORD

SSO_SECRET_KEY=CAMBIA_ESTA_CLAVE_LARGA_Y_SEGURA
SSO_ISSUER=integralflex
TOKEN_EXP_MINUTES=10

CERTIDESK_SSO_URL=https://www.certidesk.cl/sso/login
CENTRALDESK_SSO_URL=http://portaldocumental.hidronor.cl/sso/login
LOGISDESK_SSO_URL=http://4.186.27.1:5005/sso/login

WHATSAPP_NUMBER=56942379468
CONTACT_EMAIL=contacto@integralflex.cl
